.index-module_login__4J1Zc {
  border: 1px solid #eee;
  width: 600px;
  padding: 20px;
}
.index-module_title__3swsK {
  font-size: 20px;
  text-align: center;
}
.index-module_row__wHKMY {
  padding: 10px 40px;
}
.index-module_row__wHKMY > input {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  outline: 0;
  border: 1px solid #999;
  font-size: 18px;
}
.index-module_footer__YOJTj {
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
}
.index-module_footer__YOJTj > div {
  display: flex;
  align-items: center;
}
.index-module_footer__YOJTj input {
  width: 20px;
  height: 20px;
}
.index-module_footer__YOJTj button {
  padding: 4px;
  margin: 0 10px;
  font-size: 20px;
}
