<!DOCTYPE html>
<html lang="cn">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="./favicon.ico">
  <title>Tarat</title>
  <link type="text/css" rel="stylesheet" href="./content.css" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-M9SQ5X1VYY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-M9SQ5X1VYY');
  </script>
  <style>
    @font-face {
      font-family: 'crackman';
      src: url('./crackman.ttf');
    }
    .logo-font {
      font-family: 'crackman', cursive;
    }
  </style>
</head>
<body>
  <header>
    <span class="logo-font">T</span>arat
  </header>
  <aside>
    <%- aside %>
  </aside>
  <main>
    <%- htmls %>
  </main>
</body>
<script src="./content-script.js" ></script>
</html>

